// animate.scss
// @import "libs/animate.scss";

@-webkit-keyframes FXFlashSmall {
  50% {
    opacity: 0.1;
  }
}

@-webkit-keyframes FXRotate {
  100% {
    -webkit-transform: rotateZ(359deg);
  }
}

@-webkit-keyframes FXLoader {
  0% {
    // border-radius: 100%;
    border-radius: 25%;
  }
  50% {
      -webkit-transform: rotateZ(44deg);
  }
  100% {
      opacity: 0.5;
    // -webkit-transform: rotateZ(359deg);
  }
}

.appbar-item,
.appbar-item-overlay {
  -webkit-perspective: 500px; /* Chrome, Safari, Opera */
  perspective: 500px;
}

.FXBounce {
  pointer-events: none;
  -webkit-animation: FXBounce 0.25s;
          animation: FXBounce 0.25s;
}

@-webkit-keyframes FXBounce {
  50% { -webkit-transform: scale3d(0.75, 0.75, 0.75) }
}
@keyframes FXBounce {
  50% { transform: scale3d(0.75, 0.75, 0.75) }
}

@-webkit-keyframes FXProgress {
  0% { width: 0% }
  100% { width: 100% }
}
@keyframes FXProgress {
  0% { width: 0% }
  100% { width: 100% }
}

