// Normalize
@import "normalize.scss";
// Mixins
@import "mixins.scss";
// Variables
@import "variables.scss";
// Foundation elements
@import "foundations.scss";

$brand-color: #2d9fc5;

/* github.com/nobilelucifero/tinyrn.css */ 
*, *:after, *:before {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    color: #333;
}

h1, h2 {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px dotted;
}

h1, h3 {
    margin-bottom: 0;
    color: $brand-color;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    color: #aaa;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    margin: 24px auto;
    margin: 1.5rem auto;
}
h4, p {
    font-size: 18px;
    font-size: 1.125rem;
}

.wrapper {
    @extend %clearfix;
    margin: 0 auto;
    max-width: 45rem;
    padding: 0 1.5rem;

    // @media only screen and (min-width: 361px) {
    @media only screen and (min-width: 801px) {
        padding: 0 2.5rem;
    }
}

.header {
    @extend %clearfix;
    padding: 2.5rem 0;
    text-align: center;
}

.section {
    @extend %clearfix;
    padding: 2.5rem 0;
    text-align: center;
    background-color: $turquoise;

    &, & h1, & h2, & p {
        color: $white;
    }
}
.section:nth-child(even) {
    background-color: $darkTurquoise;
}
.section--heading {
    // background-color: $turquoise;
}
.section--hovers {}
.section--toggles {}
.section--actions {}

.project-authorship {
    position: relative;
    top: -1.5rem;
}
.project-authorship--box {
    margin: 0;
}

.logo {
    position: relative;
    padding: 2.5rem 0;

    &:before, &:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 5rem;
        min-width: 2.5rem;
        height: 1px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.10);
    }
    &:before {
        top: -0.5rem;
    }
    &:after {
        bottom: -0.75rem;
    }
}
