// Normalize
@import "normalize.scss";
// Mixins
@import "mixins.scss";
// Variables
@import "variables.scss";
// Foundation elements
@import "foundations.scss";
// Animations
@import "animations.scss";

/*! github.com/nobilelucifero/tinyrn.css */ 
*, *:after, *:before {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  color: $textCopy;
}

h1, h2 {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
  p & {
    border-bottom: 1px dotted;
  }
}

h1, h3 {
  margin-bottom: 0;
  color: $brand-color;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  color: #aaa;
  margin-bottom: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  margin: 24px auto;
  margin: 1.5rem auto;
}
h4, p {
  font-size: 18px;
  font-size: 1.125rem;
}

.js-feedback:focus {
  outline: 0;
}

.wrapper {
  @extend %clearfix;
  margin: 0 auto;
  max-width: 45rem;
  padding: 0 1.5rem;

  // @media only screen and (min-width: 361px) {
  @media only screen and (min-width: 801px) {
    padding: 0 2.5rem;
  }
}

.header {
  @extend %clearfix;
  padding: 2.5rem 0;
  text-align: center;
}

.section {
  @extend %clearfix;
  padding: 2.5rem 0 2.5rem;
  text-align: center;
  background-color: $turquoise;

  // @media only screen and (min-width: 801px) {
  //   float: left;
  //   width: 50%;
  // }

  &, & h1, & h2, & p {
    color: $white;
  }
}
.section:nth-child(even) {
  background-color: $darkTurquoise;
}

.menu {
  @extend %toolbar;
  position: relative;
  top: -1.5rem;
}
.menu-group {
  @extend %toolbar-group;
  margin: 0;
}
.menu-group--left {
  @extend %toolbar-group--left;
}
.menu-group--right {
  @extend %toolbar-group--right;
}
.menu-item {
  @extend %toolbar-item;
}
.menu-item-content {
  @extend %toolbar-item-content;
}
.logo-website {
  margin-top: 0.25rem;
  margin-right: 0.5em;
  padding-right: 0.75em;
  font-size: 0.875rem;
  border-right: 1px solid #eee;
  border-bottom: 0;
}
.logo-website img {
  display: block;
  width: 20px;
  height: auto;
}
.author-badge {
  display: inline-block;
  margin-left: 0.25em;
  line-height: 1.875rem;
  font-size: 0.875rem;
}
.author-avatar {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  margin-right: 0.25em;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 100%;
  box-shadow: 0 0 0 4px rgba($brand-color, 0);
}
.author-avatar--media {
  display: block;
  width: 100%;
  height: auto;
}

.author-label {
  display: none;
  @media only screen and (min-width: 361px) {
    display: inline-block;
  }
}

.author-sreenname {
  font-weight: 500;
  border: 1px dotted $textCopyInv;
  -webkit-transition: all .1s;
          transition: all .1s;

  .author-badge:hover & {
    border-bottom: 1px dotted $textCopy;
  }
}
.btn-source {
  display: inline-block;
  position: relative;
  top: -1px;
  line-height: 1.8125rem;
  padding: 0 0.75rem 0.0625rem;
  font-size: 0.875rem;
  border: 1px solid #ccc;
  border-radius: 17px;
  font-weight: 500;
  -webkit-transition: all .1s;
          transition: all .1s;

  &:after {
    content: '\203A';
    display: inline-block;
    position: relative;
    top: -0.0625rem;
    margin-left: 0.5em;
  }
  &:hover:after {
    -webkit-animation: FXFlashSmall 0.5s 0.25s;
            animation: FXFlashSmall 0.5s 0.25s;
  }
  &:hover {
    border-color: #ddd;
    color: $brand-color;
  }
}

.logo {
  position: relative;
  padding: 2.5rem 0;

  &:before, &:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 5rem;
    min-width: 2.5rem;
    height: 1px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.10);
  }
  &:before {
    top: -0.5rem;
  }
  &:after {
    bottom: -0.75rem;
  }
}

.appbar {
  @extend %toolbar;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;

  @media only screen and (min-width: 361px) {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}
.appbar--miniapp {
  display: inline-block;
  padding-top: 0.375rem;
  background-color: #fff;
  color: $textCopy;
  border-radius: 2px;
  box-shadow: 0 2px 0 rgba($black, 0.15);

  .appbar-item-divider {
    background-color: rgba($black, 0.25);
  }
}
.appbar-group {
  @extend %toolbar-group;
  @extend %toolbar-group--center;
  text-align: center;
}
.appbar-item,
.appbar-item-divider {
  @extend %toolbar-item;
  position: relative;
  margin: 0 0.25rem;
  white-space: nowrap;
}
.appbar-item-divider {
  background-color: rgba($white, 0.5);
  width: 1px;
  margin: 0.375rem 0.25rem;
  height: 1.75rem;
}
.appbar-item-content {
  @extend %toolbar-item-content;
  display: inline-block;
  min-width: 2.5rem;
  height: 2.5rem;
  line-height: 2.25rem;

  &.has--label-inline {
    padding: 0 0.5625rem;
  }
}
.appbar-item-icon {
  display: inline-block;
  vertical-align: middle;
  width: 1.375rem;
  height: 1.375rem;
  line-height: 1.375rem;
}
.appbar-item-label {
  position: relative;
  display: block;
  width: 2.5rem;
  height: 0.75rem;
  line-height: 0.75rem;
  font-size: 0.625rem;
  font-weight: 500;
  opacity: 0;
  transition: all .25s;

  .appbar--hovers-two .appbar-item:hover & {
    opacity: 1;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
.appbar-item-label--inline {
  display: inline-block;
  line-height: 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  padding-left: 0.25rem;
}

.appbar--hovers-one .appbar-item {
  -webkit-transition: all .5s ease-out;
          transition: all .5s ease-out;
}
.appbar--hovers-one .appbar-item:hover {
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
          transform: scale3d(1.5, 1.5, 1.5);
  -webkit-transition: all .1s;
          transition: all .1s;
}
.appbar--hovers-two .appbar-item {
  transition: all .25s ease-out;
}
.appbar--hovers-two .appbar-item:hover {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.appbar-item-overlay {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  opacity: 0;
  -webkit-transition: all 0.25s;
          transition: all 0.25s;
  -webkit-transform: translateY(-12.5%);
          transform: translateY(-12.5%);
}
.appbar-item-overlay.is--active {
  z-index: 1;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.appbar-item-overlay.is--active + .appbar-item-content {
  z-index: 1;
  opacity: 0.35;
  -webkit-transition: opacity 0.25s;
          transition: opacity 0.25s;
}
.toggle--theme-one {
  transition: all 0.25s;
  &.is--active {
    background-color: rgba($black, 0.25);
    border-radius: 4px;
    transition-delay: 0.125s;
  }
}

// love icon
.toggle--theme-two .heart-outline {
  fill: $textCopy;
  opacity: 1;
  -webkit-transition: all 0.25s 0.25s, fill 0.125s;
          transition: all 0.25s 0.25s, fill 0.125s;
}
.toggle--theme-two:hover .heart-outline {
  fill: #e9395f;
}
.toggle--theme-two.is--active .heart-outline {
  opacity: 0;
}
.toggle--theme-two .heart-full {
  fill: #e9395f;
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
          transform: scale3d(0.5, 0.5, 0.5);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: all 0.25s 0.25s;
          transition: all 0.25s 0.25s;
}
.toggle--theme-two.is--active .heart-full {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.button-like path,
.button-dislike path {
  -webkit-transition: fill 0.125s;
          transition: fill 0.125s;
}
.button-like .appbar-item-icon,
.button-dislike .appbar-item-icon {
  -webkit-transition: all 0.125s;
          transition: all 0.125s;
}

// like icon
.button-like .like-outline {
  fill: $textCopy;
}
.button-like:hover .appbar-item-icon {
  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);
}
.button-like:hover .like-outline,
.button-like.is--active .like-outline {
  fill: #7eaa04;
}


// dislike icon
.button-dislike .dislike-outline {
  fill: $textCopy;
}
.button-dislike:hover .appbar-item-icon {
  -webkit-transform: rotateZ(-10deg);
          transform: rotateZ(-10deg);
}
.button-dislike:hover .dislike-outline,
.button-dislike.is--active .dislike-outline {
  fill: #aa0420;
}


.progessbar {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 100%;
  height: 0.625rem;
  line-height: 0.5rem;
  border: 1px solid rgba($black, 0.50);
  border-radius: 0.625rem;
  overflow: hidden;
}
.progessbar-value {
  position: absolute;
  z-index: -1;
  width: 25%;
  height: 100%;
  background-color: rgba($black, 0.5);

  .appbar-item-overlay.is--active & {
    -webkit-animation: FXProgress 1s ease-out forwards;
            animation: FXProgress 1s ease-out forwards;
  }
}

.loader {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  top: -0.125rem;
  width: 0.75rem;
  height: 0.75rem;
  line-height: 0.5rem;
  border-radius: 100%;
}
.loader .frame-01,
.loader .frame-02,
.loader .frame-03,
.loader .frame-04 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: rgba($black, 0.50);
  -webkit-animation: FXLoader 4s infinite;
          animation: FXLoader 4s infinite;
}

.loader .frame-01 {
  top: -0.5rem;
  left: -0.5rem;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.loader .frame-02 {
  top: -0.5rem;
  right: -0.5rem;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.loader .frame-03 {
  bottom: -0.5rem;
  right: -0.5rem;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.loader .frame-04 {
  bottom: -0.5rem;
  left: -0.5rem;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.spinner {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  top: -1px;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.125rem;
  border: 1px solid rgba($black, 0.50);
  border-radius: 0.625rem;
  overflow: hidden;
  -webkit-animation: FXRotate 2s linear infinite;
          animation: FXRotate 2s linear infinite;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 10px;
    height: 10px;
    background-color: rgba($black, 0.50);
  }
}
