// Base Colours
$white: #fff;
$black: #000;
$turquoise: #17c3e5; // 5ccfe5
$lightTurquoise: lighten($turquoise, 5%); // 5ccfe5
$darkTurquoise: darken($turquoise, 5%); // 5ccfe5
$spaceGrey: #738292;

// Brand Colours
$brand-color: #2d9fc5;

// Text Colours
$textCopy: #333;
$textCopyInv: $white;
$textLink: $brand-color;
